<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List of Vets</title>
</head>
<body>
	<h1 th:text="'List of vets'">List of vets ....</h1>
	
	<table>
		<thead>
			<tr>ID</tr>
			<tr>First Name</tr>
			<tr>Last Name</tr>
		</thead>
		<tbody th:each="vet: ${vets}">
			<tr>
				<td th:text="${vet.id}">ID</td>
				<td th:text="${vet.firstName}">First Name</td>
				<td th:text="${vet.lastName}">Last Name</td>
			</tr>
		</tbody>
	
	</table>
</body> 
</html>